.container {
  margin-top: 1em;
  text-align: center;

  .content-alert {
    width: 36%;
    display: inline-block;
  }

  .content-buttons {
    display: flex;
    justify-content: center;
    column-gap: 20px;


    .btn-width {
      width:100px;
    }
  }
}